<div class="card">
    <div class="image-sec">
        <img src="/alumniImages/<%=cardData.batch%>/<%=cardData.scholarID%>.jpg" alt="img" class="card-img">
    </div>
    <div class="info-sec">
        <div class="sc-id">
            <%=cardData.scholarID%>
        </div>
        <div class="name">
            <%=cardData.name%>
        </div>
        <div class="linkedin">
            <a href="<%=cardData.linkedin%>" class="linkedinLink" ><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
</div>